@{
    ViewBag.Title = "美图必看";
}

<h2>@ViewBag.Title</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>查询</th>
                <th style="width:30%">次数</th>
            </tr>
        </thead>
        <tbody>
            @foreach (meitubikanSite.Controllers.SearchController.ImageItem entity in ViewBag.EntityList)
            {
                var position = entity.Pos;
                var imgUrl = entity.ImgUrl;
                var lthUrl = entity.LthUrl;
                var oSize = entity.OSize;
                <tr>
                    <td>@position</td>
                    <td><a href="@imgUrl" target="_blank"><img src="@lthUrl" style="max-width: 500px;" /></a></td>
                    <td>@oSize</td>
                </tr>
            }
        </tbody>
    </table>
</div>
